.contato{
    background: linear-gradient(0deg, rgba(222, 49, 99,0.1), rgba(222, 49, 99,1));
    padding: 1em;
}

.contato__titulo,
.contato__texto {
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato__titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato__texto {
    font-weight: 300;
    margin: 1em 0;
}

.contato__email {
    padding: 1em;
    border: 1px solid rgb(188, 40, 40);
    border-radius: 24px;
    width: 90%;
    color: rgb(247, 16, 120);
}

.contato__email::placeholder {
    font-family: var(--fonte-principal);
    color: black;
    background: url("../img/Vector.svg") no-repeat;
    padding-left: 2em;
}